*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.buttonOther {
    position:absolute;
    display:flex;
    bottom:-575px;
    flex-direction:row;
    gap: 10px;
    left:200px;
}

button {
    display:flex;
    flex-direction:row;
    gap:10px;
    width:max-content;
    padding:10px;
    font-size:14px;
    font-weight:600;
    border:0;
    border-radius:5px;
}

.AddStory {
    background-color:#0866ff;
    color:#E7ECEF;
}

.ModProfile {
    background-color:#E2E5E9;
    color:#181919;
}




