<div class="partSinstraProfilo">
    <!---Parte Sinistra-->
    <div class="allInfoProfile">
        <div class="coverImageProfile">
            <img  src="https://scontent.flin1-1.fna.fbcdn.net/v/t39.30808-1/401050083_1004365983952220_3263559890470869734_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=100&ccb=1-7&_nc_sid=e99d92&_nc_ohc=m-suu-__5RwQ7kNvgFWUypl&_nc_zt=24&_nc_ht=scontent.flin1-1.fna&_nc_gid=A45QpwV_8f43lvOH3xg4vIu&oh=00_AYA-1a2gO9Ug-fC_jHg45SEBrRJKhwGz7BCMk0N0Bl6r1g&oe=67CCA1FB"
                alt="fotoMe"/>
        </div>
         <!---Parte Destra-->
        <div class="partDestra">
            <p>Italia Cardullo</p>
            <a href="#">128 amici</a>
            <div class="allFotoAmici">
                <div *ngFor=" let friends of friendsPhoto" class="coverPhotoProfiles">
                    <img [src] ="friends.img" [alt]="" width="30px" height="30px"/>
                </div>
            </div>
        </div>  
    </div>
</div>
