*{
    background-color: #fff;
}
.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageCover {
    position:relative;
}

.sinistra {
    position:absolute;
}

.destra {
    position:absolute;
}



